.todo-filters {
    position: relative;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.todo-count {
    color: var(--white-color);
    font-size: 15px;
}

.todo-filters-btns {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    gap: 10px;
}

.all-tab,
.active-tab,
.completed-tab {
    color: var(--yellow);
    background-color: var(--yellow-800);
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-btn.active {
    border: 1px solid var(--yellow);
}

.all-tab:hover,
.active-tab:hover,
.completed-tab:hover {
    background-color: var(--yellow);
    color: var(--black-color);
    scale: 1.05;
    box-shadow: 0 5px 15px rgba(252, 196, 52, 0.2);

}

.clear-all {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: var(--white-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.hide {
    display: none;
}

.clear-all:hover {
    color: var(--delete-color);
}

@media (max-width: 768px) {
    .todo-filters {
        width: 400px;
        padding-top: 37px;
    }

    .todo-filters-btns {
        transform: translateY(-40px);
        right: 18%;
    }
}

@media (max-width: 500px) {
    .todo-filters {
        width: 300px;
        padding: 37px 10px 0 10px;
    }

    .todo-count,
    .clear-all,
    .all-tab,
    .active-tab,
    .completed-tab {
        font-size: 12px;
    }

    .todo-filters-btns {
        top: -10px;
        transform: translateX(28px);
    }
}
